<h1>Private Wikis</h1>
<p>Only creator and collaborators have access to see these entries</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% Wiki.all.each do |wiki| %>
    <% if current_user.can_see_as_collaborator?(wiki) %>
      <tr>
        <td><%=  wiki.title %></td>
        <td><%=  wiki.body %></td>
        <td><%= link_to 'Show', wiki %></td>
        <% if user_signed_in? %>
				
        <td><%= link_to 'Edit', edit_wiki_path(wiki) %></td>
				
        <td><%= link_to 'Delete', wiki, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>   
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>