<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= markdown @wiki.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown @wiki.body %>
</p>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
